## Java
##########################

*.class
*.jar


##########################
## Maven
##########################

target/


##########################
## Eclipse
##########################

.metadata/
.settings/
.sonarlint/
.classpath
.factorypath
.project